@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap);

body, body * {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

body, div {
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: 'Fira Code', monospace;
  background-color: #ddd;
}

.color-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.color-input > * + * {
  margin-left: 8px;
}

.log {
  margin-top: 8px;
}
.log > div {
  padding: 2px 4px;
}