@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap);

body {
  height: 100vh;
  margin: 0;
}

.app, .app * {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

.app, .app div, .app main {
  display: flex;
  flex-direction: column;
}

.app {
  height: 100%;
  align-items: center;
  justify-content: center;
  font-family: 'Fira Code', monospace;
}

.app main h1 {
  font-size: 3em;
}

.app main {
  align-items: center;
  justify-content: center;
}
.app main > * + * {
  margin-top: 8px;
}

.app select {
  font-family: inherit;
}

.app .abs {
  position: absolute;
}
.app .abs.top {
  top: 0;
}
.app .abs.left {
  left: 0;
}
.app .abs.right {
  right: 0;
}
.app .abs.bottom {
  bottom: 0;
}

.app .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 8px;
}
.app .row > * + * {
  margin-left: 8px;
}

.app .color-input.abs {
  padding: 8px;
}

.app .log {
  margin-top: 8px;
}
.app .log > div {
  padding: 2px 4px;
}