@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap);

body {
  height: 100vh;
  margin: 0;
  font-family: 'Fira Code', monospace;
}

.Loading {
  background-color: #fff6;
  font-size: 3em;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  transition: opacity .5s ease-in-out;
  z-index: 1;
}

.Loading.hidden {
  pointer-events: none;
  opacity: 0;
}

.app, .app * {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

.app {
  height: 100%;
}

.app main h1 {
  font-size: 3em;
}

.app select {
  font-family: inherit;
}

.app .abs {
  position: absolute;
  --padding: 32px;
}

.app * {
  color: inherit;
}

.app .abs.top {
  top: var(--padding);
}
.app .abs.left {
  left: var(--padding);
}
.app .abs.right {
  right: var(--padding);
}
.app .abs.bottom {
  bottom: var(--padding);
}

.app .ColorInput.abs {
  padding: 8px;
}

.app .log {
  margin-top: 8px;
}

.app .log > div {
  padding: 2px 4px;
}